<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            margin:40px auto;
            max-width:850px;
            line-height:1.6;
            font-size:18px;
            font-family: Inconsolata, monospace;
            color:#444;
            padding:0 10px;
            font-weight: 400;
            line-height: 24px;
        }
        h1,h2,h3 {
            line-height:1.2;
            color:#333;
            text-align: left;
        }
        a {
            text-decoration: none;
        }
        a:link {
            color: blue;
        }
        a:visited {
            color: blue;
        }
        a:active {
            color: blue;
        }
        a:hover {
            color: blue;
            border-bottom:1px dotted blue;
        }
        img {
            float: left;
            padding-right: 40px;
        }
        #intro {
            float: right;
        }
    </style>
  	<title>Brick TTL Viewer</title>
  </head>
  <body>
    <h1>Brick TTL Viewer</h1>
    <p>
        This is a simple site for visualizing how <a href="http://brickschema.org/">Brick</a> classes are used to describe real buildings. This site does not render the full Brick model; it only visualizes the relationships between instances of classes in order to make visualizing the model tractable. The source for this site can be found <a href="https://github.com/gtfierro/ttlviewer">here</a>.
    </p>
    <p>
        <b>To use</b>, upload a <code>.ttl</code> file such as those <a href="https://github.com/BuildSysUniformMetadata/GroundTruth/tree/master/building_instances">found here</a>
        and click "Render"; this will render a PDF in your browser that shows how instances of Brick classes are connected and what relationships
        they use.
    </p>
    <p>
        Alternatively, you can specify the URL of a TTL file you want to use. Some examples are
        <ul>
            <li><a href="http://brickschema.org/ttl/ghc_brick.ttl">http://brickschema.org/ttl/ghc_brick.ttl</a></li>
            <li><a href="http://brickschema.org/ttl/gtc_brick.ttl">http://brickschema.org/ttl/gtc_brick.ttl</a></li>
            <li><a href="http://brickschema.org/ttl/soda_brick.ttl">http://brickschema.org/ttl/soda_brick.ttl</a></li>
            <li><a href="http://brickschema.org/ttl/ebu3b_brick.ttl">http://brickschema.org/ttl/ebu3b_brick.ttl</a></li>
            <li><a href="http://brickschema.org/ttl/rice_brick.ttl">http://brickschema.org/ttl/rice_brick.ttl</a></li>
        </ul>
    </p>
    <h3>Renderizer</h3>
  	<form enctype="multipart/form-data" action="/upload" method="post">
        <label>TTL URL: </label>
		<input type="string" name="URL" />
        &nbsp; <u>OR</u> &nbsp;
        <label>File: </label>
		<input type="file" name="uploadfile" /> <br /> <br />

        <label>Visualization Method</label> <br />
        <input type="radio" name="render" value="pdf"> PDF <br />
        <input type="radio" name="render" value="interactive" checked> Interactive <br />
		<input type="hidden" name="token" value="{{.}}" /> <br />
		<input type="submit" value="Render" />
	</form>
  </body>
</html>
